<md-content class="md-padding" ng-cloak>
  <md-card>

    <md-card-title>
      <md-card-title-text>
        <md-subheader>Comics</md-subheader>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <pagination last-page="29" init-page="{{$ctrl.initPage}}" on-change="$ctrl.loadPage(page)"></pagination>
      <md-grid-list
          md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
          md-row-height-gt-md="1:1" md-row-height="2:2"
          md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile ng-repeat="comic in $ctrl.getComics()"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      md-colspan-xs="1"
                      ng-click="$ctrl.goToDetail(comic)"
                      style="background: url({{comic.thumbnail}})">
          <md-grid-tile-footer><h3>{{comic.title}}</h3></md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
</md-content>